<form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
  <input type="hidden" name="paymentDetailId" [value]="service.formData.id" />
  <div class="form-group">
    <label>MODEL</label>
    <!--<input class="form-control form-control-lg" placeholder="Full Name" name="modelId"
         #modelId="ngModel" [(ngModel)]="service.formData.modelId"
         required [class.invalid]="modelId.invalid && modelId.touched">-->

    <select class="form-control form-control-lg" name="modelId" #modelId="ngModel" [(ngModel)]="service.formData.modelId" >
      <option *ngFor="let item of list" [ngValue]=item.id>
        {{item.modelName}}
      </option>

    </select>

    <!--<input type="hidden" name="modelId"
           #modelId="ngModel" [(ngModel)]="service.formData.modelId"
           value="1" />-->
  </div>
  <div class="form-group">
    <label>YEAR</label>
    <!--<input class="form-control form-control-lg" placeholder="Year" name="year"
           #year="ngModel" [(ngModel)]="service.formData.year"
           required [class.invalid]="year.invalid && year.touched">-->

    <select class="form-control form-control-lg" name="year" #year="ngModel" [(ngModel)]="service.formData.year">
      <option *ngFor="let yr of yearlist" [ngValue]=yr.id>
        {{yr.text}}
      </option>

    </select>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>COLOUR</label>
      <!--<input class="form-control form-control-lg" placeholder="Colour" name="colour"
             #colour="ngModel" [(ngModel)]="service.formData.colour"
             required [class.invalid]="colour.invalid && colour.touched">-->
      <select class="form-control form-control-lg" name="colour" #status="ngModel" [(ngModel)]="service.formData.colour">
        <option *ngFor="let clr of colorlist" [ngValue]=clr.text>
          {{clr.text}}
        </option>

      </select>
    </div>
    <div class="form-group col-md-6">
      <label>STATUS</label>
      <!--<input class="form-control form-control-lg" placeholder="Status" name="status"
         #status="ngModel" [(ngModel)]="service.formData.status"
         required [class.invalid]="status.invalid && status.touched">-->
      <select class="form-control form-control-lg" name="status" #status="ngModel" [(ngModel)]="service.formData.status">
        <option *ngFor="let st of statuslist" [ngValue]=st.id>
          {{st.text}}
        </option>

      </select>
    </div>

    <!--<div class="form-group">
      <label for="picture">Picture</label>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile"
               (change)="onFileChanged($event)" accept=".jpg,.png,.gif,.pdf,.xls,.xlsx,.doc,.docx,.ppt,.pptx">
        <label class="custom-file-label" #labelImport for="customFile">Choose file</label>
      </div>
      <div class="invalid-feedback" *ngIf="form.picture.touched && form.picture.invalid">
        <div *ngIf="form.picture.errors.required">Picture is required.</div>
      </div>
    </div>-->

  </div>
  <div class="form-group">
    <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid">SUBMIT</button>
  </div>
</form>
